pycord
mecab-python3
alkana
emoji
pysoundfile
discord.py
espnet_model_zoo
parallel_wavegan
pyrubberband
sqlite3
os
subprocess
torch
urllib.parse
unicodedata
numpy
re
PyNaCl
asyncio
mecabrc
unidic-lite
pyopenjtalk
discord